<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% block stylesheets %}
                <link href="./templates/css/style.css" rel="stylesheet" type="text/css" />
            {% endblock %}
            <title>Matlandia Junior</title>
        {% endblock %}
    </head>
    <body>
        
        <div id="content">
            {% block content %}
            <div id="col header">
                <div id="username">{{ user.name }} {{ user.surname }} (wyloguj)</div>
            </div> 
            {% endblock %}
            <div id="footer">
            {% block footer %}
                <p>Gdańskie Wydawnictwo Oświatowe z ograniczoną odpowiedzialnością sp.j.<p>
                <p>80-309 Gdańsk, al. Grunwaldzka 411
                <hr>
                Copyright  &copy; Gdańskie Wydawnictwo Oświatowe {{ "now"|date('Y', timezone="Europe/Paris") }}.
            {% endblock %}
            </div>
        </div>
    </body>
</html>
